body {
    outline: none;
}

body #app {
    max-width: min(980px, 80%);
    margin: 0 auto;
}

body #app .map-wrapper{
    display: block;
    position: relative;
}

body #app .map-wrapper object{
    display: block;
    width: 100%;
}

/* Info Modal Styles */
.info-modal{
    display: block;
    position: absolute;
    transform: translate(-50%, -100%);
    padding: 15px;
    max-width: min(400px, 80%);
    background-color: rgba(0,0,0,.2);
}
.info-modal.disabled {
    display: none;
    visibility: hidden;
}
.info-modal .modal-header{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

/* Info Wrapper Styles */
.info-wrapper{
    display: block;
}
.info-wrapper.disabled{
    display: none;
    visibility: hidden;
}

.info-wrapper .info-result .row{
    position: relative;
}
.info-wrapper .info-result .row.title-row{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.info-wrapper .info-result .row.img-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.info-wrapper .info-result .row .col{
    display: block;
}

.info-wrapper .info-result .title,
.info-wrapper .info-result .subtitle,
.info-wrapper .info-result .address{
    margin: 10px auto;
}
.info-wrapper .info-result .area-of-activity{}
.info-wrapper .info-result .type-of-activity{}

.info-wrapper .info-result img{
    display: block;
    position: relative;
    width: 100%;
}

.info-wrapper .info-result .additional-info h4{}
.info-wrapper .info-result .additional-info p{}
.info-wrapper .info-result .keywords{}